<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Mum's Shop</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <style>
            body {
                margin: 50px 0 0 0;
                padding: 0;
                width: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-align: center;
                color: #aaa;
                font-size: 18px;
            }

            h1 {
                color: #719e40;
                letter-spacing: -3px;
                font-family: 'Lato', sans-serif;
                font-size: 100px;
                font-weight: 200;
                margin-bottom: 0;
            }
        </style>
    </head>
    <body>
        <h1>Mum's Shop</h1>
        <div>Meals</div>

        <table>
            <tr>
                <th>Productos</th><th>Precios</th>
            </tr>
            <?php foreach ($meals as $meal) { ?>
                <tr>
                    <td><?= $meal->name() ?></td>
                    <td><?= $meal->price() ?></td>
                </tr>
            <?php } ?>
        </table>
        <div>
        </div>

    </body>
</html>
